body {
  height: 300px;
  width: 300px;
}

button, input, body {
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 3px;
  margin-right: 2px;
}

button {
  background-color: #1a73e8;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input[type="text"] {
  height: 25px;
  border: 2px solid;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  body, input[type="text"], textarea {
    background-color: #fff;
    color: #000
  }
  input[type="text"], textarea {
    border-color: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  body, input[type="text"], textarea {
    background-color: #1e1e1e;
    color: rgb(199, 199, 199);
  }
  input[type="text"], textarea {
    border-color: rgb(199, 199, 199);
  }
  ::placeholder {
    color: rgb(183, 183, 183);
  }
}
